langchain
langgraph
langchainhub
langchain_openai
langchain_experimental
langchain-community
faiss-cpu~=1.8.0

openai
pyaml_env~=1.2.1
uvicorn~=0.23.2
fastapi~=0.104.1
pydantic
SQLAlchemy==1.4.50
SQLAlchemy-Utils~=0.41.1
dataset~=1.6.2
python-dotenv~=1.0.0
#starlette~=0.27.0
requests~=2.31.0
mysqlclient~=2.2.0
aioschedule~=0.5.2
PyMySQL~=1.1.0